<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Still processing - {{.Title}}</title>
    <meta name="description" content="Image processing, algorithms and code">
    <meta name="keywords" content="image processing">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
    {{.Scripts}}
</head>

<body>
    <header>
        <h1><a href="/">Still processing</a></h1>
        <h2>Matti Jukola's blog about image processing</h2>
    </header>

{{/* Actual data goes here */}}
{{/* Footer goes here */}}
